= form.inputs do
  = form.input :user_username, :required => true, :input_html => {:tabindex => autotab}

:javascript
  $(document).ready(function() {
    $("#reviewer_user_username").autocomplete({
      source: "#{users_path(:format => :js)}"
    });
  })