- title t('actions.create_reviewer')
- show_actions!
.auto_focus

= semantic_form_for @reviewer, url: reviewers_path(@conference) do |form|
  = render 'form', form: form
  = form.actions do
    = form.action :submit, label: :create_reviewer, button_html: {tabindex: autotab}