- title t('actions.create_reviewer')
- show_actions!
.auto_focus
  
- semantic_form_for(@reviewer) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button :create_reviewer, :button_html => {:tabindex => autotab}