- title "Chamada da Revisores"
- show_actions!

%p No ano de 2015 o Comitê de Programa da Agile Brazil deseja ampliar ainda mais a participação irrestrita da comunidade na construção do evento. Para isso, estamos abrindo 5 vagas para o papel de revisor de submissão que serão sorteadas entre os interessados em colaborar.

%h3 O que faz um revisor de submissão?

%p Um revisor de submissão é responsável por auxiliar o comitê de programa na escolha das melhores submissões entre as mais de 200 propostas de sessão que recebemos todos os anos. Um revisor observa coerência e consistência da proposta, relevância do assunto dentro da trilha selecionada e para a comunidade ágil, bem como ajuda os autores a aumentarem suas chances de seleção, fornecendo feedbacks construtivos durante o período de submissões que possibilitem ajustes das propostas.

%p O trabalho de revisor é um trabalho de extraordinária responsabilidade, pautado pela ética, espírito colaborativo dentro do time e para com os autores e busca incansável pela qualidade que desejamos ver representada na grade final do evento.

%h3 Quanto tempo eu preciso dedicar para ser um bom revisor?

%p Suas atividades como revisor se iniciarão imediatamente, comentando as submissões antes do encerramento do prazo. Nesta etapa você deve se programar para acessar o sistema de submissões diariamente ou ao menos semanalmente, comentando as sessões que sejam da sua area de conhecimento.

%p Após o encerramento das submissões o trabalho se intensifica, cada revisor recebe uma quota de aproximadamente 15 propostas a analisar. O tempo médio de avaliação de uma submissão depende muito de cada um, por segurança reserve até 1 hora para cada avaliação. Ano passado, cada revisor tinha uma quota de 19 sessões para análise num período de 2 semanas.

%p É importante que você se prepare para esse momento, pois realmente estaremos contando com você! Devido a importância da divisão do trabalho, temos uma regra, o valor mínimo da quota que um novo membro precisa cumprir para se tornar elegível para revisor no ano seguinte é 50%.

%p Você nunca deve avaliar uma sessão apressadamente, o autor merece nosso tempo e respeito!

%h3 Como eu participo?

%p Para garantir o livre acesso as vagas nós vamos fazer um sorteio via twitter, para participar acesse <a  href="https://www.rafflecopter.com/rafl/display/e6fec2201/">este site</a> e siga precisamente todas as instruções. O prazo máximo para se candidatar é 22/05! O sorteio ocorrerá em 23/05 e os resultados serão divulgados nesta página no mesmo dia.

%h3 Resultado do Sorteio

%p 50 pessoas se inscreveram para as vagas, os 5 sorteados pelo rafflecopter estão listados abaixo. Agradecemos o interesse de todos! Muito obrigado!

%a{ :class => "rcptr", :href => "http://www.rafflecopter.com/rafl/display/e6fec2201/", :rel => "nofollow", 
:"data-raflid" => "e6fec2201", :"data-theme" => "classic",  :"data-template" => "",  :id => "rcwidget_8ltrw594" } a Rafflecopter giveaway

%script{ :type => "text/javascript", :src => "//widget-prime.rafflecopter.com/launch.js" }

%p Comitê de Programa<br>Agile Brazil 2015