- title "Call for Reviewers"
- show_actions!

%p This year, Agile Brazil’s Program Committee wishes to further expand the community unrestricted participation in building the event . In order to do that, we are opening 5 spots for submission’s reviewer that will be drawn amongst those interested in collaborate.

%h3 What a submission’s reviewer do?

%p A submission’s reviewer is responsible for assisting the Program’s Committee in choosing the best submissions among over 200 session proposals that we receive every year. A reviewer observes the proposals coherency and consistency, subject importance within the chosen track and for the agile community, as well as helps the authors to increase his or hers chances of selection by providing constructive feedbacks during the submission period that allows the proposals to be improved.

%p The reviewer's position involves a great deal of responsibility, it is a job based on ethics, collaborative spirit within the team and towards speakers and relentless pursuit for the quality that we want to see imprinted on the final schedule of the event.

%h3 How much time do I need to dedicate in order to be a good reviewer?

%p Your duties as a reviewer will begin immediately, commenting on the sessions before submission’s deadline. At this stage you should be prepared to access the submission system daily or at least once a week to comment on the sessions that are from your area of knowledge. After the submission period is over the workload increases, each reviewer receives a quota of approximately 15 submissions to evaluate.

%p The amount of time someone spends on each review varies a lot from person to person and from review experience, to be on the safe side we recommend you put aside 1 hour for each review. Last year, each reviewer received a quota of 19 papers to evaluate in a 2 weeks period. 

%p It’s important that you make time in your schedule for this stage, because we will be really counting on you! Since the workload it is such an important issue, we have a rule that you need to be aware of, the minimum amount of the quota that a new member needs to meet in order to be eligible for next’s year review team is 50%.

%p You should never review a session in a hurry, the speaker deserves your time and respect!

%h3 How do I apply?

%p To ensure free access to the spots we will make a draw using twitter, to apply visit <a href="https://www.rafflecopter.com/rafl/display/e6fec2201/" target="_blank">this site</a> and follow all the instructions precisely. The application deadline is 22/05! The draw will take place on 23/05 and the results will be announced on this page on the same day.

%h3 Draw Result

%p 50 people applied for the spots, the 5 winners draw by rafflecopter are listed below. We appreciate the consideration! Thank you very much! 

%a{ :class => "rcptr", :href => "http://www.rafflecopter.com/rafl/display/e6fec2201/", :rel => "nofollow", 
:"data-raflid" => "e6fec2201", :"data-theme" => "classic",  :"data-template" => "",  :id => "rcwidget_8ltrw594" } a Rafflecopter giveaway

%script{ :type => "text/javascript", :src => "//widget-prime.rafflecopter.com/launch.js" }

%p Program Committee<br>Agile Brazil 2015