- title "Convite para participar da equipe de avaliação da Agile Brazil 2010"
.auto_focus

%p Olá #{@reviewer.user.full_name},

%p Obrigado por considerar fazer parte da equipe de avaliação da Agile Brazil 2010. Para confirmar sua participação, por favor escolha as trilhas nas quais se julga apto a avaliar trabalhos, assim como seu nível de conhecimento na respectiva trilha:

- content_for :agreement do
  %h3 TERMO DE COMPROMISSO COMO AVALIADOR DO AGILE BRAZIL 2010

  %p 
    Para confirmar sua participação e comprometimento como AVALIADOR dos trabalhos submetidos
    à trilha Indústria da Conferência Agile Brazil 2010 você deve estar de acordo com os termos
    abaixo:
  %ol
    %li
      Como membro do Comitê de Avaliação, contribuirei para a seleção de um programa técnico
      de alto nível a fim de tornar o Agile Brazil 2010 um evento de referência internacional
      em metodologias ágeis;
    %li
      Como avaliador, analisarei de forma crítica e imparcial trabalhos submetidos para a 
      trilha Indústria, segundo diretrizes definidas pelo Comitê de Programa do evento;
    %li
      Como avaliador, seguirei as orientações do Comitê de Programa durante a realização 
      desta atividade, procurando cumprir os objetivos e metas (prazo e quantidade de 
      avaliações) apresentadas pelo sistema de avaliação;
    %li
      Como avaliador, não poderei divulgar os resultados das avaliações até que os mesmos
      sejam publicados pelo Comitê de Programa;
    %li
      Como avaliador, comprometo-me a recusar a avaliação de trabalhos que possam caracterizar
      interesse pessoal, como as minhas próprias submissões ou as de clientes, parentes, amigos
      e parceiros de negócio; ou ainda de trabalhos muito similares àqueles que eu tenha submetido;
    %li
      Como avaliador, atenderei as solicitações feitas pelos Organizadores de Trilha a fim de
      garantir uma boa distribuição de trabalhos e fluxo do processo de avaliação das submissões;
    %li
      Como avaliador, poderei solicitar maiores informações e esclarecimentos aos respectivos
      autores de cada submissão a fim de evitar injustiças e contribuir com a garantia da qualidade
      do programa;
    %li
      Como membro do Comitê de Avaliação, declaro estar ciente de que a seleção final dos
      trabalhos que irão compor o programa do Agile Brazil 2010 será feito pelo Comitê de Programa,
      com base nos critérios e pareceres realizados pelos avaliadores;
    %li
      Como membro do Comitê de Avaliação, reconheço ser este um trabalho voluntário e não
      remunerado, não podendo transferir à organização do Agile Brazil 2010 despesas de qualquer
      natureza;
    %li
      Em caso de impedimento para o cumprimento de minhas metas, comunicarei imediatamente a
      Coordenação de Programa a necessidade de substituição e transferência de minhas
      responsabilidades.
  %p 
    E, por reconhecer que a Organização do Agile Brazil 2010 está depositando em mim total 
    confiança por uma conduta ética e profissional no processo de seleção dos trabalhos submetidos
    para a conferência, estou ciente das possíveis consequências de atos que possam conflitar com
    as responsabilidades que assumo aceitando os termos desse documento.

= render 'accept_reviewers/form'