[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no

[ req_distinguished_name ]
C                      = BR
ST                     = Santa-Catarina
L                      = Florianopolis
O                      = Agile Alliance Brazil
OU                     = Agile Brazil
CN                     = Registration
emailAddress           = no-reply@agilebrazil.com
