- title t('title.edit_session')
- show_actions!
.auto_focus

= semantic_form_for @session, :url => session_path(@conference, @session) do |form|
  = render 'form', :form => form
  = form.actions do
    = form.action :submit, :label => :edit_session, :button_html => {:tabindex => autotab}