- title t('title.new_session')
- show_actions!
  
- semantic_form_for(@session) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button :submit_session, :button_html => {:tabindex => autotab}