- title t('title.change_password')

- semantic_form_for @user, :url => password_reset_path, :method => :put do |form|
  - form.inputs do
    = form.input :password, :required => true
    = form.input :password_confirmation, :required => true
  - form.buttons do
    = form.commit_button :change_password
