%p Dear #{h(@session.authors.map(&:full_name).join(" & "))},

%p We regret to inform you that your proposal <strong>'#{h(@session.title)}'</strong> has not been selected to be part of the program of the Brazilian Conference about Agile Methods – Agile Brazil 2010.

%p
  We have received around 150 proposals this year -- more proposals than any other Brazilian conference about agile methods. Sadly, this means that many good proposals could not be included in the program due to lack of space. In the end, around 35 sessions were selected, taking into consideration the need to create a balanced schedule, with high quality content and tailored to the conference attendees. You may see the feedback that your proposal has received from the reviewers and track organizers at:
  %br
  = link_to session_reviews_url(@session, :locale => 'en'), session_reviews_url(@session, :locale => 'en')

%p Should you have any queries, requests or comments, do not hesitate to contact the Program Committee at #{link_to 'programa@agilebrazil.com', 'mailto:programa@agilebrazil.com'}.

%p Thank you very much for your proposal. We hope you do attend the conference this year and bring new proposals for the next year.

%p
  Sincerely,
  %br
  --
  %br
  Program Committee of Agile Brazil 2010 Conference

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]
