The author(s) of session "#{@session.title}" (ID #{@session.id} - #{session_url(@session.conference, @session, locale: 'en')}) declined to present it at #{@conference_name}.


Please provide a backup.


Yours truly,

Submission system
