Olá #{@session.authors.map(&:full_name).join(" & ")},


Obrigado por submeter a proposta de sessão '#{@session.title}' para a Agile Brazil 2010. Você pode acessar e alterar os detalhes de sua proposta até o fim do prazo de submissão no dia 28/02/2010, acessando o link:


= session_url(@session, :locale => 'pt')


Gratos,


Equipe de programa da Agile Brazil 2010


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
