O(s) autor(es) da sessão "#{@session.title}" (ID #{@session.id} - #{session_url(@session.conference, @session, locale: 'pt-BR')}) negaram sua participação na #{@conference_name}.


Precisamos de uma proposta reserva.


Sinceramente,

Sistema de submissão
