%p
  O(s) autor(es) da sessão
  = link_to "\"#{@session.title}\" (ID #{@session.id})", session_url(@session.conference, @session, locale: 'pt-BR')
  negaram sua participação na #{@conference_name}.

%p Precisamos de uma proposta reserva.

%p Sinceramente,

%p Sistema de submissão
