%p
  The author(s) of session
  = link_to "\"#{@session.title}\" (ID #{@session.id})", session_url(@session.conference, @session, locale: 'en')
  declined to present it at #{@conference_name}.

%p Please provide a backup.

%p Yours truly,

%p Submission system
