%h3 Dear #{h(@session.authors.map(&:full_name).join(" & "))},

%p Thank you for submitting the session proposal <strong>'#{h(@session.title)}'</strong> to the Agile Brazil 2010 conference. You can access and amend the proposal until the session submission deadline on 28th Feb 2010 by accessing the link:

%p= link_to session_url(@session, :locale => 'en'), session_url(@session, :locale => 'en')

%p Regards,

%p Program Committee of Agile Brazil 2010 Conference

%small [Please do not reply to this e-mail. It was sent from an unmonitored email address]
