Olá #{@user.full_name},


Você acaba de se registrar no sistema de submissões da Agile Brazil 2010. Para submeter uma proposta de sessão, basta acessar #{root_url} e fazer login utilizando:


* Nome de usuário: #{@user.username}


Utilizaremos este endereço de e-mail para entrar em contato a respeito das suas submissões. Em caso de dúvida, críticas ou sugestões, entre em contato através do e-mail programa@agilebrazil.com


Gratos,


Equipe de programa da Agile Brazil 2010


[Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
