%h3 Olá #{h(@user.full_name)},

%p Você acaba de se registrar no sistema de submissões da Agile Brazil 2010. Para submeter uma proposta de sessão, basta acessar #{link_to root_url, root_url} e fazer login com os seguintes dados:

%ul
  %li <strong>Nome de usuário</strong>: #{h(@user.username)}
  %li <strong>Senha</strong>: (a senha utilizada no seu cadastro)

%p Utilizaremos este endereço de e-mail para entrar em contato a respeito das suas submissões. Em caso de dúvida, críticas ou sugestões, entre em contato através do e-mail #{link_to "programa@agilebrazil.com", "mailto:programa@agilebrazil.com"}.

%p Gratos,

%p Equipe de programa da Agile Brazil 2010

%small [Por favor não responda este e-mail. Ele foi enviado através de um endereço não monitorado]
