.bundle
.DS_Store
db/*.sqlite3
log/*.log
tmp/**/*
coverage
**/*~
config/*.yml
config/deploy/*.*.*.*.rb
.idea
turbulence
tmp
certs/*
.sass-cache/
vendor/bundle/**/*
.ruby-gemset
app/assets/javascripts/*.js
spec/javascripts/*.js
.env
.vagrant
/vendor/cache
/public/system
*.iml
