language: ruby
rvm:
  - 1.8.7
before_script:
  - cp ./config/config.{example,yml}
  - cp ./config/database.{travis,yml}
  - mysql -e 'create database agilebrazil_test;'
script:
  - RAILS_ENV=test bundle exec rake db:migrate
  - bundle exec rake ci
bundler_args: --local --without development production assets
