- title t('title.tracks')
- show_actions!

%dl
  - @tracks.each do |track|
    - if track.translated_contents.empty?
      %dt= t(track.title)
      %dd= t(track.description)
    - else
      %dt= textilize(track.title)
      %dd= textilize(track.description)