- flash[:news] = "Empresa ainda não cadastrou todos os participantes. Para cadastrar mais participantes, #{link_to('clique aqui', new_registration_group_attendee_path(@registration_group))}".html_safe