- flash.now[:notice] = "We have received your payment. Please read instructions below"

%h3 Instructions:

%p We have received your payment. After reviewing your registration details, we will send a confirmation e-mail.