- flash.now[:notice] = "Pagamento efetuado com sucesso. Por favor leia as instruções abaixo"

%h3 Instruções:

%p Pagamento efetuado com sucesso. Após revisarmos os detalhes da sua inscrição, enviaremos um e-mail de confirmação da inscrição dos membros da sua empresa no evento.