@import reset.sass
@import text.sass
@import grid.sass
@import helper.sass

!color1 = #d20000
!color2 = #b8a16b
!color3 = #d2c89c
!color4 = #ffffe0
!color5 = #878268

html
  :background               #ffffff url('/images/bg.png') repeat-x center top
  :color                    #333333

a
  :color                    = !color5
a:hover
  :color                    = !color5 + #333

.auto_focus
  :display                  none

#header
  +grid(12)
  :height                   90px
  :color                    #ff9b00
  :position                 relative
  
  img
    :float                  left
    :padding-right          5px
  .logo
    :float                  left
  ul#languages
    :float                  right
    :overflow               hidden
    li
      :float                left
      :list-style           none
      
    li + li::before
      :content              "\00a0|\00a0"
    a
      :color                = !color3
      :text-decoration      none
    a:hover
      :color                = !color3 - #222
      :text-decoration      underline

  ul#menu
    :overflow               hidden
    :display                block
    :position               absolute
    :right                  0
    :bottom                 0
    :margin-bottom          6px
    
    li
      :float                left
      :list-style           none
      :background-color     = !color5
      :margin               2px
      :border               2px solid #afa57c
      &.selected
        :background-color   = !color5 - #333
        a
          :color            = !color3
      
    a
      :color                #fff
      :padding              10px
      :line-height          25px
      :text-decoration      none
    a:hover
      :color                = !color3
      :text-decoration      underline

#footer
  +grid(12)
  :color                    #999999
  :text-align               center
  :font-size                8pt

#container
  +grid-system(12)
  
#actions
  ul
    :list-style-type        circle
  h4
    :font-size              15px
    :margin                 6px 0
  
#content
  :min-height               590px
  p
    :margin                 15px 0
  h1
    :color                  = !color5
    :border-bottom          = 1px solid !color5
    :margin-bottom          10px
  
  h5
    :margin                 10px 0

  dl
    dt
      :font-weight          bold
      :font-size            1.3em
      :margin               5px 0
      :padding-top          10px
    dd
      :margin-bottom        5px
      h1
        :font-size          1.2em
        :border             0
      h2
        :font-size          1.1em
      h3
        :font-size          1.0em
      ul
        :padding-left       2em
      ol
        :padding-left       2em

  table
    :width                  100%
    :border-collapse        collapse
    :text-align             left
    :margin                 5px 0

    th
      :font-size            1.2em
      :font-weight          normal
      :color                = !color1
      :padding              10px 8px
      :border-bottom        = 2px solid !color1
    td
      :border-bottom        = 1px solid !color5
      :padding              6px 8px

table.sessions
  th.session_id
    :width                  5%
  th.title
    :width                  50%
  th.author
    :width                  15%

.commentCount    
  :font-size                8px
  :font-weight              bold
  :padding                  1px 5px 0
  :background               url('/images/icon-comments.png') left top no-repeat
  :position                 relative
  :overflow                 hidden
  :display                  inline
  :color                    #666666

.commentAnchor
  :float                    right

.commentBlock
  :border-radius            5px
  :-moz-border-radius       5px
  :-webkit-border-radius    5px
  :border-bottom            1px solid #999
  :border-right             1px solid #999
  :border-left              1px solid #ccc
  :border-top               1px solid #ccc
  :padding                  5px
  :margin                   10px 0
  
  cite
    :font-weight            bold
    :clear                  both

  .commentDate
    :float                  right
    :color                  #999
    :font-size              12px

ul.piped
  :overflow                 hidden
  :margin-bottom            10px
  li
    :float                  left
    :list-style             none
    :font-size              11px
  li + li::before
    :content                "\00a0|\00a0"

ul.spaced
  :overflow                 hidden
  li
    :float                  left
    :margin-right           20px
    :margin-top             5px
    :list-style             none
    :font-size              12px
  li.first
    :font-weight            bold

#pagination
  :width                    100%
  :text-align               center
  
  .pagination
    :font-size              11px
    :display                inline-block
                            
    span                    
      :border               0
      :margin               0
      :padding              0
      :margin-right         2px
                            
    a                       
      :border               = solid 1px !color5
      :margin-right         2px
                            
    .disabled               
      :border               solid 1px #DEDEDE
      :color                #888888
      :display              block
      :float                left
      :font-weight          bold
      :margin-right         2px
      :padding              3px 4px
                            
    .next_page, .prev_page  
      :font-weight          bold
                            
    .current                
      :background           = !color2
      :color                #FFFFFF
      :font-weight          bold
      :display              block
      :float                left
      :padding              4px 6px
                            
    a:link, a:visited       
      :color                = !color2
      :display              block
      :float                left
      :padding              3px 6px
      :text-decoration      none
                            
    a:hover                 
      :border               = solid 1px !color2
  
#flash_notice, #flash_error
  :padding                  5px 8px
  :margin                   10px 0

#flash_notice
  :background-color         #ccffcc
  :border                   solid 1px #66cc66

#flash_error
  :background-color         #ffcccc
  :border solid             1px #cc6666

.fieldWithErrors
  :display                  inline

.resizable-textarea
  textarea
    :margin-bottom          0pt
    :width                  95%
    :height                 20%
  .grippie
    :background             #EEEEEE url('/images/grippie.png') no-repeat scroll center 2px
    :border-color           #DDDDDD
    :border-style           solid
    :border-width           0pt 1px 1px
    :cursor                 s-resize
    :height                 9px
    :overflow               hidden

#date
  :overflow                 hidden
  :display                  block
  :right                    0
  :bottom                   0
  :color                    #fff
  :background-color         = !color5
  :border                   2px solid #afa57c
  :text-align               center
  :font-size                14px
  :margin-bottom            6px
  p
    :margin                 2px
    :padding                4px

#textile_help
  .example
    +grid(9)
  
    .raw
      +grid(4)
      :border               1px dashed #666
      :padding              10px
      :min-height           150px
    .space
      +grid(1)
    .preview
      +grid(4)
      +clearfix
      :border               1px dashed #666
      :padding              10px
      :min-height           150px
      p
        :margin             0px
      ul
        :padding-left       10px
      ol
        :padding-left       10px

form#new_session
  li#session_mechanics_input
    abbr
      :display              none