html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style-position: inside; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 13px/1.5 'Helvetica Neue','Arial','Liberation Sans','FreeSans','sans-serif'; }

a:focus {
  outline: 1px dotted; }

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 23px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 15px; }

html {
  background: #ffffff url('/images/bg.png') repeat-x center top;
  color: #333333; }

a {
  color: #878268; }

a:hover {
  color: #bab59b; }

.auto_focus {
  display: none; }

#header {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  height: 90px;
  color: #ff9b00;
  position: relative; }
  #header img {
    float: left;
    padding-right: 5px; }
  #header .logo {
    float: left; }
  #header ul#languages {
    float: right;
    overflow: hidden; }
    #header ul#languages li {
      float: left;
      list-style: none; }
    #header ul#languages li + li::before {
      content: "\00a0|\00a0"; }
    #header ul#languages a {
      color: #d2c89c;
      text-decoration: none; }
    #header ul#languages a:hover {
      color: #b0a67a;
      text-decoration: underline; }
  #header ul#menu {
    overflow: hidden;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 6px; }
    #header ul#menu li {
      float: left;
      list-style: none;
      background-color: #878268;
      margin: 2px;
      border: 2px solid #afa57c; }
      #header ul#menu li.selected {
        background-color: #544f35; }
        #header ul#menu li.selected a {
          color: #d2c89c; }
    #header ul#menu a {
      color: #fff;
      padding: 10px;
      line-height: 25px;
      text-decoration: none; }
    #header ul#menu a:hover {
      color: #d2c89c;
      text-decoration: underline; }

#footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  color: #999999;
  text-align: center;
  font-size: 8pt; }

#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
  #container enumerate(.grid, #container 1, #container 12, #container _) {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px; }
  #container .grid_1 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px; }
  #container .grid_2 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 140px; }
  #container .grid_3 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; }
  #container .grid_4 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px; }
  #container .grid_5 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 380px; }
  #container .grid_6 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px; }
  #container .grid_7 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 540px; }
  #container .grid_8 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 620px; }
  #container .grid_9 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 700px; }
  #container .grid_10 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 780px; }
  #container .grid_11 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 860px; }
  #container .grid_12 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px; }
  #container .prefix_1 {
    padding-left: 80px; }
  #container .prefix_2 {
    padding-left: 160px; }
  #container .prefix_3 {
    padding-left: 240px; }
  #container .prefix_4 {
    padding-left: 320px; }
  #container .prefix_5 {
    padding-left: 400px; }
  #container .prefix_6 {
    padding-left: 480px; }
  #container .prefix_7 {
    padding-left: 560px; }
  #container .prefix_8 {
    padding-left: 640px; }
  #container .prefix_9 {
    padding-left: 720px; }
  #container .prefix_10 {
    padding-left: 800px; }
  #container .prefix_11 {
    padding-left: 880px; }
  #container .suffix_1 {
    padding-right: 80px; }
  #container .suffix_2 {
    padding-right: 160px; }
  #container .suffix_3 {
    padding-right: 240px; }
  #container .suffix_4 {
    padding-right: 320px; }
  #container .suffix_5 {
    padding-right: 400px; }
  #container .suffix_6 {
    padding-right: 480px; }
  #container .suffix_7 {
    padding-right: 560px; }
  #container .suffix_8 {
    padding-right: 640px; }
  #container .suffix_9 {
    padding-right: 720px; }
  #container .suffix_10 {
    padding-right: 800px; }
  #container .suffix_11 {
    padding-right: 880px; }
  #container .alpha {
    margin-left: 0; }
  #container .omega {
    margin-right: 0; }

#actions ul {
  list-style-type: circle; }
#actions h4 {
  font-size: 15px;
  margin: 6px 0; }

#content {
  min-height: 590px; }
  #content p {
    margin: 15px 0; }
  #content h1 {
    color: #878268;
    border-bottom: 1px solid #878268;
    margin-bottom: 10px; }
  #content h5 {
    margin: 10px 0; }
  #content dl dt {
    font-weight: bold;
    font-size: 1.3em;
    margin: 5px 0;
    padding-top: 10px; }
  #content dl dd {
    margin-bottom: 5px; }
    #content dl dd h1 {
      font-size: 1.2em;
      border: 0; }
    #content dl dd h2 {
      font-size: 1.1em; }
    #content dl dd h3 {
      font-size: 1.0em; }
    #content dl dd ul {
      padding-left: 2em; }
    #content dl dd ol {
      padding-left: 2em; }
  #content table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 5px 0; }
    #content table th {
      font-size: 1.2em;
      font-weight: normal;
      color: #d20000;
      padding: 10px 8px;
      border-bottom: 2px solid #d20000; }
    #content table td {
      border-bottom: 1px solid #878268;
      padding: 6px 8px; }

table.sessions th.session_id {
  width: 5%; }
table.sessions th.title {
  width: 50%; }
table.sessions th.author {
  width: 15%; }

.commentCount {
  font-size: 8px;
  font-weight: bold;
  padding: 1px 5px 0;
  background: url('/images/icon-comments.png') left top no-repeat;
  position: relative;
  overflow: hidden;
  display: inline;
  color: #666666; }

.commentAnchor {
  float: right; }

.commentBlock {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 5px;
  margin: 10px 0; }
  .commentBlock cite {
    font-weight: bold;
    clear: both; }
  .commentBlock .commentDate {
    float: right;
    color: #999;
    font-size: 12px; }

ul.piped {
  overflow: hidden;
  margin-bottom: 10px; }
  ul.piped li {
    float: left;
    list-style: none;
    font-size: 11px; }
  ul.piped li + li::before {
    content: "\00a0|\00a0"; }

ul.spaced {
  overflow: hidden; }
  ul.spaced li {
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    list-style: none;
    font-size: 12px; }
  ul.spaced li.first {
    font-weight: bold; }

#pagination {
  width: 100%;
  text-align: center; }
  #pagination .pagination {
    font-size: 11px;
    display: inline-block; }
    #pagination .pagination span {
      border: 0;
      margin: 0;
      padding: 0;
      margin-right: 2px; }
    #pagination .pagination a {
      border: solid 1px #878268;
      margin-right: 2px; }
    #pagination .pagination .disabled {
      border: solid 1px #DEDEDE;
      color: #888888;
      display: block;
      float: left;
      font-weight: bold;
      margin-right: 2px;
      padding: 3px 4px; }
    #pagination .pagination .next_page, #pagination .pagination .prev_page {
      font-weight: bold; }
    #pagination .pagination .current {
      background: #b8a16b;
      color: #FFFFFF;
      font-weight: bold;
      display: block;
      float: left;
      padding: 4px 6px; }
    #pagination .pagination a:link, #pagination .pagination a:visited {
      color: #b8a16b;
      display: block;
      float: left;
      padding: 3px 6px;
      text-decoration: none; }
    #pagination .pagination a:hover {
      border: solid 1px #b8a16b; }

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ffcccc;
  border: solid             1px #cc6666; }

.fieldWithErrors {
  display: inline; }

.resizable-textarea textarea {
  margin-bottom: 0pt;
  width: 95%;
  height: 20%; }
.resizable-textarea .grippie {
  background: #EEEEEE url('/images/grippie.png') no-repeat scroll center 2px;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 0pt 1px 1px;
  cursor: s-resize;
  height: 9px;
  overflow: hidden; }

#date {
  overflow: hidden;
  display: block;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: #878268;
  border: 2px solid #afa57c;
  text-align: center;
  font-size: 14px;
  margin-bottom: 6px; }
  #date p {
    margin: 2px;
    padding: 4px; }

#textile_help .example {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px; }
  #textile_help .example .raw {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px dashed #666;
    padding: 10px;
    min-height: 150px; }
  #textile_help .example .space {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px; }
  #textile_help .example .preview {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border: 1px dashed #666;
    padding: 10px;
    min-height: 150px; }
    #textile_help .example .preview:after {
      content: " ";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    #textile_help .example .preview p {
      margin: 0px; }
    #textile_help .example .preview ul {
      padding-left: 10px; }
    #textile_help .example .preview ol {
      padding-left: 10px; }

form#new_session li#session_mechanics_input abbr {
  display: none; }

li#user_wants_to_submit_input {
  background-color: #d8ffdc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px dashed #1c8c1c;
  padding: 10px;
  width: 74%; }

li#vote_logo_id_input p.inline-hints {
  width: 100%; }
li#vote_logo_id_input ol {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%; }
  li#vote_logo_id_input ol li {
    float: left; }
    li#vote_logo_id_input ol li label {
      position: relative;
      margin-right: 10px; }
      li#vote_logo_id_input ol li label span.logo_number {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 20px;
        color: #999; }
      li#vote_logo_id_input ol li label a[rel*=facebox] {
        position: absolute;
        bottom: 5px;
        right: 15px; }
      li#vote_logo_id_input ol li label img.color {
        border: 1px solid #999;
        display: none; }
      li#vote_logo_id_input ol li label img.bw {
        border: 1px solid #999; }
      li#vote_logo_id_input ol li label img.highlighted {
        border: 3px solid green;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px; }
li#vote_logo_id_input ul.errors {
  float: left;
  width: 100%; }
