- title t('title.edit_organizer')
- show_actions!
.auto_focus

= semantic_form_for @organizer, :url => organizer_path(@conference, @organizer) do |form|
  = render 'form', :form => form
  = form.actions do
    = form.action :submit, :label => :update_organizer, :button_html => {:tabindex => autotab}