- title t('actions.create_organizer')
- show_actions!
.auto_focus
  
= semantic_form_for @organizer, :url => organizers_path(@conference) do |form|
  = render 'form', :form => form
  = form.buttons do
    = form.commit_button :create_organizer, :button_html => {:tabindex => autotab}