- title t('title.edit_profile', :user => @user.username)
- show_actions!

- semantic_form_for @user do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button :edit_profile
