= form.inputs :user_login do
  = form.input :current_password, :required => true, :input_html => {:tabindex => autotab, :autocomplete => :off}
  = form.input :password, :required => true, :input_html => {:tabindex => autotab}
  = form.input :password_confirmation, :required => true, :input_html => {:tabindex => autotab}