%p As inscrições abaixo estão com pagamento pendente, porém o valor da inscrição está na faixa de preços vencida. Por favor, revise as inscrições abaixo e decida se:

%ul
  %li
    %strong O valor precisa ser atualizado:
    Escolha "Atualizar preço". A inscrição continuará pendente mas o valor será ajustado.
  %li
    %strong O pagamento foi efetuado:
    Escolha "Pagamento recebido". A inscrição não será confirmada, porém marcaremos o status como "Pagamento recebido". O participante não recebe nenhum e-mail.
