%p The following registrations are marked as having a pending payment, but the price amount belongs to an expired registration period. Please review the following registrations and decide if:

%ul
  %li
    %strong The price has to be updated:
    Choose "Update Price" to update the registration amount. The registration will remain pending but the price will be adjusted.
  %li
    %strong Payment was received:
    Choose "Payment Received". The registration won't be confirmed, but we will mark it as "Payment received". The attendee won't receive a confirmation e-mail.
