- flash.now[:notice] = "We have received your payment. Please read instructions below"

%h3 Instructions:

%p We have received your payment. After reviewing your registration details, we will send a confirmation e-mail.

- if attendee.student?
  %p In order to complete the registration process, you must send a student id to the email #{mail_to AppConfig[:organizer][:email]} cc'ing to #{mail_to AppConfig[:organizer][:cced_email]}

  %h6 Valid student ids:
  %ul
    %li Student id with expiration date;
    %li Payment proof for the institution;
    %li Enrollment declaration from the institution.