- title t('title.registration')
.auto_focus

= semantic_form_for @attendee do |form|
  = render 'form', :form => form
  = form.buttons do
    = form.commit_button :new_registration, :button_html => {:tabindex => autotab}
