---
 :smtp_settings:
   :address: smtp.domain.com
   :port: 587
   :domain: domain.com
   :authentication: :login
   :user_name: no-reply@domain.com
   :password: password
 :ses:
   :access_key_id: your_aws_access_key_id
   :secret_access_key: your_aws_secret_access_key
 :host: localhost:3000
 :airbrake:
   :access_key: xxx111xxx
 :google:
   :tracker_id: google_analytics_id
   :conversion_id: google_ads_conversion_id
   :conversion_label: google_ads_conversion_label