- title "Convite para participar da equipe de avaliação da Agile Brazil 2010"
.auto_focus

%p Olá #{@reviewer.user.full_name},

%p Obrigado por considerar fazer parte da equipe de avaliação da Agile Brazil 2010. Por favor confirme sua decisão:

= render 'form'