- title "Convite para participar da equipe de avaliação da #{@conference.name}"
.auto_focus

%p Olá #{@reviewer.user.full_name},

%p Obrigado por considerar fazer parte da equipe de avaliação da #{@conference.name}. Por favor confirme sua decisão:

= render 'form'