- title "Invitation to be part of the #{@conference.name} review committee"
.auto_focus

%p Dear #{@reviewer.user.full_name},

%p Thanks for considering being part of the review committee for #{@conference.name}. Please confirm your choice:

= render 'form'