- title "Withdraw from Agile Brazil 2010"
.auto_focus

%p Dear #{current_user.full_name},

%p Your proposal "#{@session.title}" has been selected to be part of the program of the Brazilian Conference about Agile Methods – Agile Brazil 2010, but you decided to withdraw your attendance. To confirm your withdrawal, please read and sign the following term of agreement:

- content_for :agreement do
  %h3 AUTHOR WITHDRAW TERM OF AGREEMENT - AGILE BRAZIL 2010
  On agreeing to these terms, I declare:
  %br
  (1) Being able to present my session at Agile Brazil 2010 at the date and place defined by the event organization,
  committing to the high quality of the event;
  %br
  (2) Being aware that I must immediately notify the organization of Agile Brazil 2010 should any unpredicted
  event stop me from participating in the conference, thus allowing my session to be replaced or the problem solved 
  in any way;
  %br
  (3) Granting the organization of Agile Brazil 2010 the right to use my image for non-commercial, non-political
  and non-religious purposes (be it in picture or video), in activities strictly related to the conference and without
  reproduction of the intellectual content without my consent;
  %br
  (4) Being responsible civil and intellectually for all the content in my presentation, being able to respond
  legally to any illegal act I may do during its presentation at the conference.

= render 'withdraw_sessions/form'