- title "Desistência de participação na Agile Brazil 2010"
.auto_focus

%p Olá #{current_user.full_name},

%p Seu trabalho "#{@session.title}" foi selecionado para integrar o programa da Conferência Brasileira sobre Métodos Ágeis de Desenvolvimento de Software – Agile Brazil 2010, mas você decidiu desistir de participar do evento. Por favor confirme sua desistência abaixo:

= render 'withdraw_sessions/form'