- title "Withdraw from Agile Brazil 2010"
.auto_focus

%p Dear #{current_user.full_name},

%p Your proposal "#{@session.title}" has been selected to be part of the program of the Brazilian Conference about Agile Methods – Agile Brazil 2010, but you decided to withdraw your attendance. To confirm your withdrawal, please confirm below:

= render 'withdraw_sessions/form'