- reviewers = {}
- comments = {}
- comments_label = t('review.comments_to_authors')
- @reviews.each_with_index do |review, index|
  - reviewer = review.reviewer.actual_reviewer
  - reviewers[review] = if reviewer.sign_reviews then reviewer.user.full_name else t('formtastic.labels.reviewer.user_id') + ' ' + (index + 1).to_s end
  - comments[review] = review.comments_to_authors

= render 'reviews', :should_justify => false, :reviewers => reviewers,
                    :comments_to_author => comments, :comments_to_author_label => t('review.comments_to_authors')
