- comments_label = t('review.comments_to_authors')
- reviewers, comments = build_hash_with_reviewers_and_comments(@reviews, Conference.current)
= render 'reviews', :should_justify => false, :reviewers => reviewers,
                    :comments_to_author => comments, :comments_to_author_label => t('review.comments_to_authors')
