- title t('title.new_review', session: @review.session.title)
.auto_focus

%p
  = link_to t('review.view_session'), session_path(@conference, @review.session), target: '_blank'

= semantic_form_for [@review.session, @review], url: session_reviews_path(@conference, @review.session), html: { class: 'review' } do |form|
  = render 'form', form: form
