- reviewers = {}
- comments = {}
- comments_label = t('review.comments_to_organizers')
- @reviews.each_with_index do |review, index|
  -  reviewers[review] = review.reviewer.full_name
  -  comments[review] = review.comments_to_organizers

= render 'reviews', :should_justify => true, :reviewers => reviewers, :comments => comments, :comments_label => comments_label

:javascript
  $(document).ready(function() {
    new OrganizerReviews('body').load();
  })
