- title "How to submit a session to Agile Brazil 2010"
- show_actions!

%p Agile Brazil 2010 is accepting session submissions for the conference that will take place in Porto Alegre RS, between 22nd and 25th of June 2010. To submit a session:

%ul
  %li Register a #{link_to "new account", signup_path}
  %li Propose a #{link_to "session", new_session_path}