- title "Como submeter um trabalho para a Agile Brazil 2010"
- show_actions!

%p A Agile Brazil 2010 está aceitando submissões de trabalho para compor o programa da conferência, que acontece em Porto Alegre RS, de 22 a 25 de Junho 2010. Para submeter um trabalho:

%ul
  %li Crie um #{link_to "usuário", signup_path}
  %li Proponha uma sessão
