- title t('title.review_decision', session: @review_decision.session.title)
- show_actions!
.auto_focus
  
= semantic_form_for [@review_decision.session, @review_decision], url: session_review_decision_path(@conference, @review_decision.session, @review_decision) do |form|
  = render 'form', form: form